/* 共通--------------------- */
html{
  font-size: 100%;
}
html, body, div, span, 
h1, h2, h3,  p, img,
small, strong,table, ul, li,form, legend,
tbody, tfoot, thead, tr, th, td,
footer, header,menu, nav, section,
time, dl, dt, dd {
  margin:0;
  padding:0;
  outline:0;
  font-size:100%;
  list-style: none;
  margin-inline-start:0;
  border-spacing: 0;
  text-decoration: none;
}
body {
  background-color: ffffff;
  font-size: large;
}



h1 {
  font-size: x-large;
  margin-right: 10px;
  font-weight: normal;
}
table {
  width: 100%;
  text-align: center;
}
.content{
  border: solid 1px #d3d3d3;
  width: 100%;
  background-color: #e5e5e5;
}
.maincolor{
  background: #14213d;
}
.subcolor{
  background: #FCA311;
}
.wrapper {
  margin: 0 auto;
}
.content{
  margin-bottom: 20px;
}

/* ヘッダー */
header{
  width: 100%;
  height: 10vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgb(0, 0, 0);
}
header a:hover{
  opacity: 0.5;
}
#hc {
  display: inline-block;
  align-items: center;
}

.logo {
  margin: 0;
  display: inline-block;
  width: 140px;
} 
#logowrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 140px;
}
#logowrapper a {
  text-decoration: none;
}
#subtitle{
  color: #ffffff;
  font-size: smaller;
}
/* フッター */
footer {
  background-color:  #DCDCDC;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  margin-top: 200px;
}
footer #copyright{
  position: relative;
  top: 100px;
  font-size: 0.750rem;
  text-align: center;
  padding: 10px 0;
  color: #777;
}

/* トップメイン*/
#racelinks{
  height: 500px;
  margin-top: 150px;
}

.racelink {
  background-color: #ffffff;
  border: #5e5e5e solid 1px;
  margin: 70px auto 50px auto;
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
}

.racelink a dl {
  color: #000;
}
.racelink h2{
  position: absolute;
  top: -25px;
  left: -1px;
  display: inline-block;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.racelink ul{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  
}
.racelink li{
  width: 110px;
  margin: 5px;
}
.racelink a {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  border: #abacad solid 1px;
}
.racelink a:hover{
  opacity: 0.5;
}

.racelink dt {
  color: #ffffff;
  font-size: larger;
  line-height: 40px;
}
.racelink dd{
  font-size: small;
}

/* レースメイン */
#raceinfo {
  display: flex;
  align-items:baseline;
  
}

.tablehead{
  color: #ffffff;
  border: 0px none;
  margin: 0;
}

/* 指数表 */
#indextable{
  width: 55%;
}
#indextable tr:first-child {
  color: #ffffff;
  border: none 0px ;
}
#indextable tr:nth-child(2n){
  background-color: #e4e4e4;
}
#indextable tr:nth-child(2n+3){
  background-color: #d0d0d0;
}

#indextable tr td:first-child{
  width: 2rem;
  font-weight: bold;
}
#indextable tr td:nth-child(2){
  text-align: left;
}

/* ランキング */
#ranking{
    width: 45%;
}
#ranking table {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;  
}
#ranking th {
  font-weight: normal;
}
#rankingtbody td:first-child{
  background-color: #ebebeb;
} 
#rankingtbody td:nth-child(2){
  background-color: #EEEEEE;
  text-align: left;
  padding-left: 30px;
} 
#rankingtbody tr:first-child{
  height: 64px;
  vertical-align: middle;
  font-size: x-large;
  font-weight: 700;
} 
#rankingtbody tr:first-child td:first-child{
 background: #edd768;
} 
#rankingtbody tr:first-child td:nth-child(2){
 background-color: #eeead6;
}
#rankingtbody tr:nth-child(2){
  height: 54px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
} 
#rankingtbody tr:nth-child(2) td:first-child{
 background-color: #6c9bed;
} 
#rankingtbody tr:nth-child(2) td:nth-child(2){
 background-color: #eaf2f7;
}
#rankingtbody tr:nth-child(3){
  height: 44px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
} 
#rankingtbody tr:nth-child(3) td:first-child{
 background-color: #d17495;
} 
#rankingtbody tr:nth-child(3) td:nth-child(2){
 background-color: #f5e8e8;
}
#rankingtbody tr:nth-child(4){
  height: 34px;
  vertical-align: middle;
  font-weight: 600;
} 
#rankingtbody tr:nth-child(4) td:first-child{
 background-color: #bfe76f;
} 
#rankingtbody tr:nth-child(4) td:nth-child(2){
 background-color: #e8f2e9;
}
#rankingtbody tr:nth-child(5){
  height: 34px;
  vertical-align: middle;
  font-weight: 600;
} 
#rankingtbody tr:nth-child(5) td:first-child{
 background-color: #6bd3a4;
} 
#rankingtbody tr:nth-child(5) td:nth-child(2){
 background-color: #edf5f1;
}

#rankingtbody #rankingdefo {
  color: #eb4c4c;
  font-weight: bold;
  text-decoration: underline;
  
}
#rankingtbody #rankingdefo td {
  background-color: #ffffff;
}
/* スライダー */
#numselect {
  outline: 3px solid #14213d;
  outline-offset: -3px;
  background: #EEEEEE;
}

#numselect span {
  margin-left: 0.5em;
}
#slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px auto 10px auto;
  width: 85%;

}
.range {
  width: 48%;
  margin-bottom: 7px;
}
.range p {
  display: inline-block;
}
.range .ratio {
  display: inline-block;
  background-color: #EEEEEE;
  width: 26px;
  text-align: center;
  border: 1px solid #14213d;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  outline: none; 
  background:#3a3a3a ; 
  cursor: pointer; 
  height: 2px;
  width: 90%;
  display: block;
  margin: 24px auto;
}
/* WebKit向けのつまみ */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background:#c0c0c0; 
  width: 10px; 
  height: 20px;
  border: #14213d solid 1px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}
/* Moz向けのつまみ */
input[type="range"]::-moz-range-thumb {
  background: #c0c0c0;
  width: 10px;
  height: 20px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: #14213d solid 1px;
}

#tool-button {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin: 0;
}

#tool-button input {
  height: 30px;
}



/* 出走表 */
#cardtable {
  background-color: #ffffff;
  margin-top: 100px;
}
#cardtable table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
}
#cardtable table tr:first-child{
  background: #14213d;
  color: #777;
}
#cardtable table tr {
  background-color: #fff;
  height: 60px;
  border: 1px solid #d3d3d3;
}

#cardtable table td {
  border-right: 1px solid #d3d3d3;
  text-align: center;
}


/* max770 --------------------------------------*/
@media (max-width:770px){
  body {
    font-size: smallr;
  }
  header {
    margin-bottom: 10px;
  }
  #logowrapper{
    width: 120px;
  }
  .logo{
    width: 120px;
  }
  #subtitle {
    display: none;
  }
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  .content{
    width: 100% !important;
    margin-bottom: 10px;
  }
  
  #rankingtbody #rankingdefo {
    font-size: larger;
  }  
  #card{
    height: 400px;
  }
  .racelink{
    max-width: 630px;
    margin-top: 100px;
  }  
  .racelink dt {
  color: #ffffff;
  font-size:medium;
  font-weight: bold;
  line-height: 40px;
}
}

/* 771-1030---------------------------------------- */
@media (min-width:771px) and (max-width:1030px){
  #tool {
    display: flex;
  }
  .wrapper {
    width: 800px;
  }
  .racelink{
    width: 630px;
  }
  #rankingtbody #rankingdefo {
    font-size: larger;
  }  
}

/* 1031--------------------------------------------------- */
@media (min-width:1031px){
  #tool {
    display: flex;
    justify-content: space-between;
    
  }
  .wrapper {
    width: 900px;
  }
  #ranking{
    
  }
  .content {
    /* height: 700px; */
  }
  .racelink{
    width: 630px;
  }
  
}



