/* 共通--------------------- */
html{
  font-size: 100%;
}
html, body, div, span, 
h1, h2, h3,  p, img,
small, strong,table, ul, li,form, legend,
tbody, tfoot, thead, tr, th, td,
footer, header,menu, nav, section,
time, dl, dt, dd {
  margin:0;
  padding:0;
  outline:0;
  font-size:100%;
  list-style: none;
  margin-inline-start:0;
  border-spacing: 0;
}
body {
  background-color:#EEEEEE;
  color: #2c2c2c;
}

h1 {
  font-size: x-large;
  margin-right: 10px;
  font-weight: normal;
}
table {
  width: 100%;
  text-align: center;
}
.content{
  border: #777977 solid 1px;
  width: 100%;
  background-color: #ffffff;
}

.wrapper {
  margin: 0 auto;
}
.content{
  margin-bottom: 20px;
}


/* ヘッダー */
header{
  background-color:  #017635;
  width: 100%;
  height: 10vh;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#hc {
  display: flex;
  align-items: center;
}
.logo {
  height: 45px;
  width: 120px;
  background-color: beige;
} 

/* トップメイン*/
#racelinks{
  height: 500px;
}

.racelink {
  background-color: #ffffff;
  border: #017635 solid 1px;
  margin: 70px auto 50px auto;
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
}
.racelink h2{
  position: absolute;
  top: -25px;
  left: -1px;
  display: inline-block;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #017635 ;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}
.racelink ul{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  
}
.racelink li{
  width: 110px;
  margin: 5px;
}
.racelink a {
  text-decoration: none;
  display: block;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  border: #abacad solid 1px;
}
.racelink a:hover{
  opacity: 0.5;
}

.racelink dt {
  color: #ffffff;
  background: #017635 ;
  font-size: larger;
  line-height: 40px;
}
.racelink dd{
  font-size: small;
}

/* レースメイン */
#raceinfo {
  display: flex;
  align-items:baseline;
}

.tablehead{
  background-color: #017635;
  color: #ffffff;
  border: 0px none;
  margin: 0;
}
/* ランキング */
#ranking{
    width: 45%;
}
#ranking table {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;  
}
#rankingtbody td:first-child{
  background-color: #ebebeb;
} 
#rankingtbody td:nth-child(2){
  background-color: #EEEEEE;
  text-align: left;
  padding-left: 30px;
} 
#rankingtbody tr:first-child{
  height: 64px;
  vertical-align: middle;
  font-size: x-large;
  font-weight: 700;
} 
#rankingtbody tr:first-child td:first-child{
 background-color: #FFEF84;
} 
#rankingtbody tr:first-child td:nth-child(2){
 background-color: #FFFBE5;
}
#rankingtbody tr:nth-child(2){
  height: 54px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
} 
#rankingtbody tr:nth-child(2) td:first-child{
 background-color: #D8F6FF;
} 
#rankingtbody tr:nth-child(2) td:nth-child(2){
 background-color: #eaf2f7;
}
#rankingtbody tr:nth-child(3){
  height: 44px;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 600;
} 
#rankingtbody tr:nth-child(3) td:first-child{
 background-color: #FFD4D4;
} 
#rankingtbody tr:nth-child(3) td:nth-child(2){
 background-color: #f5e8e8;
}
#rankingtbody tr:nth-child(4){
  height: 34px;
  vertical-align: middle;
  font-weight: 600;
} 
#rankingtbody tr:nth-child(4) td:first-child{
 background-color: #d4ffdf;
} 
#rankingtbody tr:nth-child(4) td:nth-child(2){
 background-color: #e8f2e9;
}
#rankingtbody tr:nth-child(n+5):nth-child(-n+7){
  font-weight: 600;
} 
#rankingtbody #rankingdefo {
  color: #eb4c4c;
  font-weight: bold;
  text-decoration: underline;
  
}
#rankingtbody #rankingdefo td {
  background-color: #ffffff;
}

/* 指数表 */
#indextable{
  width: 55%;
}
#indextable tr:first-child {
  background-color: #017635;
  color: #ffffff;
  border: none 0px ;
}
#indextable tr:nth-child(2n){
  background-color: #d4ffdf;
}
#indextable tr:nth-child(2n+3){
  background-color: #e8f2e9;
}
#indextable tr td:first-child{
  width: 2rem;
  font-weight: bold;
}

#indextable tr td:nth-child(2){
  text-align: left;
}

/* スライダー */
#numselect span {
  margin-left: 0.5em;
}
.range {
  margin-left: 0.5em;
}
.range p {
  margin-left: 1em;
  margin-bottom: 0.5em;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer; 
  outline: none;
  height: 5px; 
  width: 40%; 
  background: #777977;
  border-radius: 10px; 
  border: solid 3px #dff1ff;
  margin-bottom: 2.5em; 
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  background: #abacad; 
  width: 18px; 
  height: 18px; 
  border-radius: 50%;
  border: #dddddd 1px solid;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2); 
}

#tool_button {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content:space-between;
  margin-top: 42px;
}

/* 出走表 */
#cardtable {
  background-color: aliceblue;
}
#cardtable table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  table-layout: fixed;
}
#cardtable table tr {
  background-color: #fff;
  padding: .35em;
  border: 2px solid #eee;
}
#cardtable table th{
  padding: 2em;
  border-right: 2px solid #fff;
}
#cardtable table td {
  padding: 2em .5em;
  border-right: 2px solid #eee;
  text-align: center;
}

/* フッター */
footer {
  background-color:  #DCDCDC;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}

/* max770 --------------------------------------*/
@media (max-width:770px){
  .wrapper {
    width: 95%;
    margin: 0 auto;
  }
  #ranking{
    /* height: 400px; */
  }
  #numselect{
    /* height: 300px; */
  }
  #card{
    height: 400px;
  }
  .racelink{
    max-width: 630px;
    margin-top: 100px;
  }  
  .racelink dt {
  color: #ffffff;
  background: #017635 ;
  font-size:medium;
  font-weight: bold;
  line-height: 40px;
}
}

/* 771-1030---------------------------------------- */
@media (min-width:771px) and (max-width:1030px){
  #tool {
    display: flex;
  }
  .wrapper {
    width: 800px;
  }
  .content {
    /* height: 400px; */
  }
  .racelink{
    width: 630px;
  }  
}

/* 1031--------------------------------------------------- */
@media (min-width:1031px){
  #tool {
    display: flex;
    justify-content: space-between;
  }
  .wrapper {
    width: 900px;
  }
  #ranking{
    width: 50%;
  }
  .content {
    /* height: 700px; */
  }
  .racelink{
    width: 630px;
  }
  
}



